/* style.css */
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #70c5ce;
    font-family: Arial, sans-serif;
}

.game-container {
    text-align: center;
}

canvas {
    background-color: #4ec0ca;
    border: 2px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.score-container {
    margin-top: 10px;
}

#score {
    font-size: 24px;
    color: #fff;
}

#startButton {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #ff5722;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#startButton:hover {
    background-color: #e64a19;
}
